/* 
    Document   : nav
    Created on : Mar 24, 2013, 4:18:37 PM
    Author     : ranjan
    Description:
        Purpose of the stylesheet follows.
*/



#header #topnav{
	display:block;
	float:right;
	width:650px;
	margin:30px 0 0 0;
	padding:0;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	}
	
#header ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#header li{
	display:inline-block;
	margin-right:35px;
	position: relative;
	}

#header li a:link, #header li a:visited{
	margin:0;
	padding:0 3px 10px 3px;
	color:#FFFFFF;
	background-color:#2D3134;
	text-decoration: none;
	
	}

#header li a:hover, #header li.active a{
	color:#02ACEE;
	background-color:#2D3134;
	text-decoration: underline;
	
	}

#header #topnav li.last{
	margin-right:0;
	}
#header #topnav ul ul{
	display: none;
}
#header #topnav li li{
	margin-top: 5px;
	margin-bottom: 5px;
}
#header #topnav li ul{
	list-style: none;
	display: none; 
	width: 175px;
	height:90px;
	background-color: #2D3134;	
}
#header #topnav ul li:hover>ul{
	position: absolute;
	display: list-item;
	margin-top: 10px;
	margin-bottom:50px;
	margin-left: 0px;
	text-align: left;
	padding: 0px;	
	float: none;
}

.tocenter {

}

.imgtocenter {
padding-left:30px;
}